html,
body {
    font-family: 'Quicksand', sans-serif;
    color: #1c303e;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    line-height: 1.3;
    margin: 0px;
}

h1,
h2,
h3,
h4 {
    font-weight: 700;
}

h5,
h6 {
    font-weight: 600;
}

img {
    max-width: 100%;
    height: auto;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

p {
    font-weight: 500;
   color: #ababab;
}

a {
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

a:active,
a:hover,
a:focus {
    color: #fff;
    outline: 0 none;
    text-decoration: none;
}

button {
    background: none;
    outline: 0 none;
    border: none;
}

iframe {
    border: 0px;
}

input,
textarea {
    outline: none;
    max-width: 100%;
}
section {
    padding: 30px 0;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
@media (min-width: 1200px){
.container {
    max-width: 1350px;
}
}

.header-part {
    display: flex;
    justify-content: space-between;
}
.start-project a {
    position: relative;
}
.start-project a::before {
    position: absolute;
    content: '';
    height: 3px;
    width: 53%;
    background: #ffa329;
    bottom: -10px;
    right: 0;
}
.intro {
    padding-right: 30px;
}
.intro h2 {
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 25px;
}
.intro p {
    font-size: 18px;
    line-height: 32px;
    
}
.my-image{
    position: relative;
}
.myimage {
    height: 500px;
    object-fit: cover;
    position: relative;
    z-index: 99;
}
.hero-list ul {
    list-style: none;
}
.hero-list-part h4 {
    font-size: 35px;
}
.hero-list-part p {
    font-size: 18px;
}
.hero-list ul li {
    margin-bottom: 35px;
}
.dots {
    width: 70%;
    position: absolute;
    right: -17%;
    bottom: -15%;
}
.intro a {
    background: #ffa329;
    padding: 10px 30px;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px;
}
.intro h2 span {
    font-size: 30px;
    display: block;
    color: #c7c7c7;
    margin-top: 10px;
}